html, body {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --color-1:  #c1d6ac;
    --color-2:  #679e85;
    --color-3:  #367783;
    --color-4:  #05192f;
    --color-5:  #000000;
    background-color: var(--color-5);
}

#ui-bar {
	display: none;
}

#qr-video {
	position: absolute;
  	top: 0;
 	left: 0;
  	width: 100%;
}

#button-container {
	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100vw;
  	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

#log-button, #camera-button {
  	margin-top: -2.5vh;
	width: 50vw;
  	height: 10vh;
  	background-color: var(--color-5);
  	border: none;
  	border-top: 2px solid var(--color-1);
    font-size: 1.5em;
    color: var(--color-1);
}

.current-is-left #log-button, .current-is-right #camera-button {
	transform: translateY(1.35vh);
    background-color: var(--color-2);
}

#log-button {
	border-top-right-radius: 10px;
}

#camera-button {
	border-top-left-radius: 10px;
}

.tabs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

/* #left-tab, #right-tab {
    background-color: white;
} */

.current-is-right #left-tab {
    display: none;
}

.current-is-left #right-tab {
    display: none;
}

#story {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    margin: 0 !important;
    z-index: 2;
    background: linear-gradient(to bottom, var(--color-5), var(--color-4) 5vh);
    padding-left: 5px;
    padding-top: 5vh;
}